* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "overpass", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  background-color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
h1 {
  font-size: 40px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
button,
input {
  font-family: "overpass", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}
nav {
  height: 100px;
  border-bottom: 1px dashed #ffffff;
}
nav,
footer {
  background-color: #333;
  display: flex;
  align-items: center;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
nav a {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: silver;
}
nav h1 {
  text-align: start;
  color: #ffffff;
}
.description {
  height: calc(100vh - 100px);
  color: #ffffff;
}
.description h1,
.cards h1,
.newsletter h1 {
  font-weight: 300;
  color: #ffffff;
}

.description .container {
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.pic {
  width: 100%;
  background-color: silver;
  background-image: url(../img/pic.jpg);
  background-position: center;
  background-size: cover;
  height: 350px;
}
.descr_text {
  text-align: center;
  line-height: 1.7rem;
}
footer {
  height: 50px;
  background-color: #333;
  border-top: 1px dashed #ffffff;
}
footer p {
  color: silver;
  font-size: 14px;
}

/* PAGE CONNEXION */

.section {
  width: 100%;
  height: calc(100vh - 50px);
}
.section .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  background-color: #fff;
  height: 50vh;
  width: 400px;
  padding: 20px 30px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.form.loading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 3px;
  background-color: #009030;
  animation: loading 5s ease-in-out;
}
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.form h2 {
  text-transform: uppercase;
}
.form input,
.form input::placeholder,
.form button {
  font-family: "overpass", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}
.form .error {
  color: #ff5252;
}
.form .success {
  color: #009030;
}
.form .input_error {
  border: 1px solid #ff5252;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid silver;
  position: relative;
}
.input span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.input input {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  outline: none;
}
.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #333;
  color: silver;
  border: none;
  cursor: pointer;
}
.button:hover {
  transition: all 0.3s ease-in-out;
  background-color: silver;
  color: #0d0d0d;
}
.button p {
  text-transform: uppercase;
  padding-right: 20px;
}

/* CARD SECTION */
.cards .container {
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.cards .contain-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cards .card {
  width: 30%;
  height: 500px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
}
.cards .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.cards .card p {
  padding: 0 20px;
  font-size: 14px;
}
.cards .card .button {
  border-top: 1px dashed #0d0d0d;
  color: #0d0d0d;
  background-color: #ffffff;
}
/* NEWSLETTER SECTION */
.newsletter {
  height: 500px;
  color: #ffffff;
}
.newsletter .container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.newsletter p {
  width: 50%;
  line-height: 1.7rem;
  font-weight: 300;
}
.newsletter form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.newsletter form input {
  width: 40%;
  background-color: transparent;
}
.newsletter form button {
  width: 10%;
  border: 1px dashed #ffffff;
}
.newsletter form input {
  height: 50px;
  padding-left: 20px;
  border: 1px dashed #ffffff;
  outline: none;
  color: #ffffff;
}
.newsletter .button:hover {
  border: 1px dashed silver;
}
/* DASHBOARD */
.dasboard {
  padding: 100px 0;
}
.dasboard .container {
  justify-content: space-between;
}
.vertical_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  width: 75px;
  padding: 20px 10px;
  border-radius: 50px;
  box-shadow: inset 0 0 10px grey;
}
.vertical_nav a {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #0d0d0dc2;
  position: relative;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.vertical_nav a:hover::after {
  content: attr(data-descrp);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 20px);
  color: #0d0d0d;
  background-color: #ffffff;
  padding: 10px 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 100px;
}
.vertical_nav a:not(:last-child) {
  margin-bottom: 15px;
}
.dasboard .all_vues {
  height: 100%;
  margin: 0px 0 0px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.all_vues h1 {
  color: #ffffff;
  border-bottom: 1px dashed #ffffff;
  margin-bottom: 150px;
}
.all_vues .nbr_vue {
  font-size: 100px;
  color: #ffffff;
}
/* DETAILS VUE */
.details_vue {
  padding: 100px 0;
}
.details_vue .container {
  justify-content: flex-start;
}
.details_vue .stats {
  width: 100%;
  height: 100%;
  margin-left: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow-y: hidden;
}
.stats .contain-date,
.stats .display-vue {
  width: 49%;
  height: 100%;
  border-radius: 10px;
  box-shadow: inset 0 0 10px grey;
  overflow: hidden;
  padding: 20px 30px;
}
.stats .display-vue h1 {
  font-size: 30px;
  font-weight: 300;
}
.stats .display-vue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 250px;
  padding-top: 30px;
  color: #ffffff;
}
.display-vue .vue {
  font-size: 50px;
}
.dates {
  overflow-y: scroll;
}
.dates,
.months {
  height: 100%;
}
/* width */
.dates::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.dates::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.dates::-webkit-scrollbar-thumb {
  background: rgba(54, 54, 54, 0.52);
  border-radius: 10px;
}

.stats .dates .months {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dates a {
  color: #fff;
  text-decoration: none;
}
.stats .dates a:not(:first-child) {
  margin-top: 20px;
}
.dates .annee {
  color: #0d0d0d;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #ffffff;
  font-weight: 200;
}
.dates .mois {
  color: #0d0d0d;
  background-color: silver;
  margin-left: 30px;
  text-transform: uppercase;
  padding: 5px 10px;
}
