* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "overpass", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
h1 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
.container {
  width: 80%;
  margin: 0 auto;
}
nav {
  height: 100px;
}
nav,
footer {
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
}
nav h1 {
  text-align: start;
  color: #ffffff;
}
.description {
  height: calc(100vh - 150px);
}
.description h1 {
  font-weight: 300;
}
.description .container {
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.pic {
  width: 100%;
  background-color: silver;
  background-image: url(../img/pic.jpg);
  background-position: center;
  background-size: cover;
  height: 350px;
}
.descr_text {
  text-align: center;
  line-height: 1.7rem;
}
footer {
  height: 50px;
  background-color: #0d0d0d;
}
footer p {
  color: silver;
  font-size: 14px;
}
